root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style = space

[*.cs]
indent_style = space
indent_size = 4
